<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'woman/css/style.css'%}">
    <title>Woman Up</title>
</head>

<body>
    <div class="container">
            <br><br>
        <div class="row">
            <div class="col -lg-auto">
                <img class="main rounded float-left" src='{% static "woman/img/Woman-up-main-image.png"%}' alt="woman up main">
            </div>
            <div class="col -lg-auto">
                <div class="message">
                    <!-- <h3 class="lrg">  Woman uplift <br>
                        Woman uprise <br>
                        Woman upheave <br>
                        Woman uphold</h3> -->
                    <p class="spalsh">Woman up is a safe haven for women to openly express themselves and receive love and support from their fellow woman. Each group is a separate space for women with particular interests to voice their opine and receive respectful support from their fellow posters in the group. Woman up allows for women to hone their voices in an environment that won’t shun them or quiet them with derogatory and deeply sexist language. Our system keeps people from spreading hate in a way that many women online have become accustomed to seeing in the many posts and comments found on other sites. Woman up is place where women can uplift each other and see the viewpoints of fellow thinkers in supportive and loving environment.if you wish to be apart of something truly inspiring then click the join us button bellow.
                        </p>
                    <button class="btn btn-secondary btn-lg"><a class="apple" href="/join">Join Us</a></button>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>