<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'woman/css/style.css'%}">
    <title>{{user.first_name}}'s Profile</title>
</head>

<body>
        <img src="{% static 'woman/img/femme-nav-mage.png' %}" alt="femme">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="{% static 'woman/img/woman-up-logo.png' %}" width="100" height="40" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/groups">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="user/{{user.id}}">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <!-- a form to upload a picture to a user -->
        <!-- <div class="row">
            <div class="col-md">
                <br>
                <form>
                    <div >
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </form>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md">
                <br>
                <h3>{{user.first_name}}'s Posts</h3>
                {% for post in data_post %}
                <h5><a class="linkcolor" href="/group/{{post.groups_id}}">{{ post.post_title }}</a></h5>
                <p>{{post.post}}</p>
                {% endfor %}
                <hr class="my-4">
                <h3>{{user.first_name}}'s Groups</h3>
                {% for group in data_group %}
                <h5><a class="linkcolor" href="/group/{{group.id}}">{{ group.group_title }}</a>:</h5>
                <p>{{group.group_desc}}</p>
                {% endfor %}
                <hr class="my-4">
                <h3>{{user.first_name}}'s Comments</h3>
                {% for comment in data_comment %}
                <h5>Group:<a class="linkcolor" href="/group/{{comment.group.id}}">{{ comment.group.group_title }}</a>, Post:<a class="linkcolor" href="/group/{{comment.group.id}}">{{comment.post.post_title}}</a>:</h5>
                <p>{{comment.comment}}</p>
                <hr class="my-4">
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>